.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.headers-align .mat-expansion-panel-header-title
{
  text-align: center;
}



.libraryTable {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
  margin-left:auto;
  margin-right:auto;
}
