<div class="login-form" (keydown)="keyDownFunction($event)">
  <mat-form-field class="full-width">
    <input matInput placeholder="Email" required [(ngModel)]="email">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Password" type="password" required [(ngModel)]="password">
  </mat-form-field>

  <button mat-button color="primary" class="login-button-center" (click)="accountLogin()">Log in &gt;</button>
  <button mat-button color="primary" class="login-button-center" (click)="goToUrl()">Documentation &gt;</button>
</div>
