.example-card {
    max-width: 250px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.flex-grid {
  display: flex;
}
.col-1 {
  flex: 1;
  padding: 20px;
}
.col-2 {
  flex: 3;
  padding: 20px;
}
