<mat-toolbar>
  <span routerLink="profile" class="navbar-logo">
    <img src="../../assets/images/revature-navbar-logo.png" class="navbar-logo">
  </span>

  <span class="fill-remaining-space"></span>

  <div *ngIf="accountId">
    <button mat-button routerLink="login">Login</button>
    <button mat-button routerLink="quiz-session">Quiz Session</button>
    <button mat-button routerLink="question">Question</button>
    <button mat-button routerLink="quizzes">Quizzes</button>
    <button mat-button routerLink="admin">Admin</button>
    <button mat-button routerLink="profile">Profile</button>
    <button mat-button (click)='logout()'>Logout</button>
  </div>
</mat-toolbar>
