<mat-toolbar color="primary"  class="mat-elevation-z8 attempt-table">
  List of Pending Libraries
</mat-toolbar>
<mat-grid-list cols="3" rowHeight="3:2">

  <mat-grid-tile *ngFor="let library of libraryList">
    <mat-card (click)="this.getLibrary(library.libraryId)">
      <mat-card-title>{{library.name}}</mat-card-title>
      <mat-card-subtitle>{{library.numberOfQuestions}} questions</mat-card-subtitle> 
    
    </mat-card>
  </mat-grid-tile>
  <!--<button mat-button>check_circle_outline</button>-->
</mat-grid-list>
