<mat-toolbar color="primary"  class="mat-elevation-z8 attempt-table">
  List of Pending Libraries
</mat-toolbar>
<mat-grid-list cols="3" rowHeight="3:2">

  <mat-grid-tile *ngFor="let library of libraryList">
    <mat-card>
      <mat-card-title>{{library.name}}</mat-card-title>
      <mat-card-subtitle>{{library.questions.length}} questions</mat-card-subtitle>
      <div class="center">
        <span class="success">
          <button mat-button>
            <mat-icon>check_circle_outline</mat-icon>
          </button>
        </span>
        <button mat-button color="warn">
          <mat-icon>highlight_off</mat-icon>
        </button>
      </div>
    </mat-card>
  </mat-grid-tile>
  <!--<button mat-button>check_circle_outline</button>-->
</mat-grid-list>