mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
}

.attempt-icon-correct {
  font-size: 30px;
  color: green;
}

.new-title-input {
  width: 80%;
  margin: 20px 0 20px 10%;
}

.libraryListBlock {
  margin-top: 20px;
  max-height: 500px;
  overflow: auto;
}
