<mat-toolbar color="primary" class="mat-elevation-z8">
  Review Previous Quizzes
</mat-toolbar>

<div *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 attempt-table">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date Taken </th>
      <td mat-cell *matCellDef="let attempt"> {{attempt.dateCreated | date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let attempt"> {{attempt.score}} </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let attempt"> View Attempt </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></tr>

  </table>
</div>
