<mat-dialog-content>
  <mat-toolbar color="primary" class="quiz-session-header mat-elevation-z8">
    Quiz: {{data.selectedAttempt.name}}
  </mat-toolbar>

  <div class="flex-container">
    <div class="col-1">
      <p>Your score for this quiz:</p>
      <div class="score-circle" [ngStyle]="getPercentageColorStyle(data.selectedAttempt.numCorrect / data.selectedAttempt.numberOfQuestions)">
        {{ data.selectedAttempt.numCorrect / data.selectedAttempt.numberOfQuestions | percent }}
      </div>
    </div>
    <div class="col-1">
      <p>histogram goes here lol</p>
    </div>
  </div>

  <mat-accordion class="mat-elevation-z8">
    <mat-expansion-panel *ngFor="let question of data.selectedAttempt.questions; let i = index" [attr.data-index]="i" hideToggle="true">
      <mat-expansion-panel-header [ngStyle]="getCorrectRowStyle(question)">
        <mat-panel-title>
          {{question.value}}
          <br>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list role="list">
        <p>
          <mat-list-item *ngFor="let answer of question.answers">
            <!-- Place empty radio/checkboxes, unless selected -->
            <span class="attempt-icon">
              <mat-icon *ngIf="!answer.isSelected" class="selector-placeholder">radio_button_unchecked</mat-icon>
              <mat-icon *ngIf="answer.isSelected" class="selector-placeholder">radio_button_checked</mat-icon>
            </span>
            <span>{{answer.value}}</span>

            <!-- Place green/red correct/incorrect boxes at end of list item -->
            <span class="attempt-icon">
              <mat-icon *ngIf="answer.isCorrect" class="attempt-icon-correct">check_box</mat-icon>
              <mat-icon *ngIf="!answer.isCorrect && answer.isSelected" class="attempt-icon-incorrect">cancel</mat-icon>
            </span>
          </mat-list-item>
        </p>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
<div class="mat-dialog-actions">
  <button mat-button (click)="onNoClick()" class="close-button">Close</button>
</div>
