<!--Print Library names inside mat-cards

  <mat-card *ngFor="let it of libraryList">Library name: {{ it.name }}</mat-card>
  -->
<mat-toolbar color="primary">
  List of Libraries
</mat-toolbar>
<mat-grid-list cols="3" rowHeight="3:2">

  <mat-grid-tile *ngFor="let library of libraryList">
    <mat-card (click)="this.getLibrary(library.libraryId)" >
      <mat-card-title>{{library.name}}</mat-card-title>
      <mat-card-subtitle>{{library.questions.length}} questions</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
