<mat-toolbar color="primary" class="mat-elevation-z8"  >
  Take a Quiz
</mat-toolbar>

<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Add libraries</ng-template>
    <div class="stepBox">
      <mat-toolbar style="margin-top: 20px;">
        <mat-toolbar-row style="border: 1px solid #aaa; background-color: white;">
          <span>Libraries to Generate Quiz</span>
         </mat-toolbar-row>

        <mat-toolbar-row style="border: 1px solid #aaa; background-color: white;" *ngFor="let library of selectedLibrarySet; let i = index">
          <span>{{library.name}}</span><span> {{library.questions.length}} Questions</span>
          <button mat-button color="warn" (click)="deleteSelectedLibrary(i, library)"><mat-icon color="warn">highlight_off</mat-icon></button>
        </mat-toolbar-row>

        <mat-toolbar-row class="add-a-library-row" (click)="openDialog()">
          <span>Add a Library</span>
          <span class="fill-remaining-space"></span>
          <mat-icon style="color: green; font-size: 30px;">library_add</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Customize Quiz</ng-template>
    <div class="stepBox">
      <mat-toolbar style="margin-top: 20px;">
        <mat-toolbar-row style="border: 1px solid #aaa; background-color: white;">
          <span>Customize New Quiz</span><br>
        </mat-toolbar-row>
      </mat-toolbar> 
      <mat-form-field style="margin-left: 20px;">
        <input matInput placeholder="Quiz Name">
      </mat-form-field><br>
      <mat-form-field style="margin-left: 20px;">
        <input matInput placeholder="Max Number of Questions: {{maxQuestions}}" [formControl]="questionFormControl">
        <mat-error>Incorrect Number of Questions!
        </mat-error>
      </mat-form-field>


    </div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Launch Quiz</ng-template>
    <div class="stepBox3">
      <mat-toolbar style="margin-top: 20px;">
        <mat-toolbar-row style="border: 1px solid #aaa; background-color: white;">
          <span>New Quiz Review</span>
        </mat-toolbar-row>
      </mat-toolbar>  
      <mat-chip-list>
        <mat-chip *ngFor="let library of selectedLibrarySet">{{library.name}}</mat-chip>
      </mat-chip-list>
      <button mat-button routerLink="../../quiz-session"> Start New Quiz</button>
      <mat-toolbar style="margin-top: 20px;">
        <mat-toolbar-row style="border: 1px solid #aaa; background-color: white;">
          <span>Existing Quiz</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-form-field style="margin-left: 20px;">
        <input matInput placeholder="Existing Quiz Id">
      </mat-form-field>  
      <button mat-button routerLink="../../quiz-session"> Start Existing Quiz</button>
    </div>
    <button mat-button matStepperPrevious>Back</button>
  </mat-step>
</mat-horizontal-stepper>
