<mat-toolbar color="primary" class="mat-elevation-z8"  >
  Take a Quiz
</mat-toolbar>

<mat-toolbar style="margin-top: 20px;">
  <mat-toolbar-row style="border: 1px solid #aaa; background-color: white;">
    <span>Libraries to Generate Quiz</span>
  </mat-toolbar-row>

   <mat-toolbar-row style="border: 1px solid #aaa; background-color: white;" *ngFor="let library of selectedLibrarySet">
    <span>{{library.name}}</span>
  </mat-toolbar-row>

  <mat-toolbar-row class="add-a-library-row" (click)="openDialog()">
    <span>Add a Library</span>
    <span class="fill-remaining-space"></span>
    <mat-icon style="color: green; font-size: 30px;">library_add</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
