.fill-remaining-space{
  flex: 1 1 auto;
}

.add-a-library-row{
  background-color: white;
}

.add-a-library-row:hover{
  background-color: #ddd;
}

#rcorners1 {
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 150px;
}

mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
}

.attempt-icon-correct {
  font-size: 30px;
  color: green;
}

.new-title-input {
  width: 80%;
  margin: 20px 0 20px 10%;
}
