<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
        <mat-icon>account_circle</mat-icon>
      Profile
    </ng-template>
    <!-- START PROFILE OPTIONS -->
    <mat-nav-list>
      <a mat-list-item routerLink="take-a-quiz"><mat-icon>face</mat-icon>Basic Details</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="quiz-attempts"><mat-icon>work</mat-icon>Education Details</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="quiz-attempts"><mat-icon></mat-icon>Veterans</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="quiz-attempts"><mat-icon></mat-icon>Others</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="quiz-attempts"><mat-icon>assignment</mat-icon>Portfolios</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="quiz-attempts"><mat-icon>settings</mat-icon>Account</a>
    </mat-nav-list>
    <!-- END PROFILE OPTIONS -->
  </mat-tab>
</mat-tab-group>
