<mat-toolbar color="primary" class="mat-elevation-z8 attempt-table">
  Add Account
</mat-toolbar>

<div class="login-form">
  <div class="aside-1"></div>
 
  <div >
  <mat-form-field>
    <input matInput placeholder="First Name " required [(ngModel)]="firstname">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Last Name" required [(ngModel)]="lastname">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Email" required [(ngModel)]="email">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" required [(ngModel)]="password">
  </mat-form-field>
</div>
  <div class="aside-2"></div>
</div>
<button mat-button color="primary" class="login-button-center" (click)="addNewAccount()"> Submit New User &gt;</button>